html, body {
	height:				100%;
	margin:				0px;
	background-color:	black;
}

p {
	margin:				0;
}

::-webkit-scrollbar {
    display:			none;
}

*:focus {
    outline:			none;
}

.redText {
	color:				red;
}

.badge {
	color:				white;
	font-size:			14px;
	margin-top:			6px;
	width:				180px;
}

.badge-warning {
	color:				white;
}

.hidden {
	display:none;
}

.btn-status {
	padding:			2px 5px 2px 5px;
	font-size:			15px;	
}

.status_main {
	padding:			20px 5px 25px 5px;
	margin:				7px; 
	color:				lightgray;
	font-size:			15px;
}

.float-left {
	float:				left;
}


.noneFoundDiv {
	color:				white;
	background-color:	#343a40;
	padding:			10px;
}

.overlay {
	position:			fixed;
	display:			none;
	width:				100%;
	height:				100%;
	top:				0;
	left:				0;
	right:				0;
	bottom:				0;
	background-color:	rgba(0,0,0,0.5);
	z-index:			2;
	cursor:				pointer;
}


#overlay_addRecordingInner {
	position:			absolute;
	padding:			8px;
	top:				50%;
	left:				50%;
	width:				700px;
	height:				450px;
	color:				maroon;
	border:				3px solid maroon;
	background-color:	#f3f3f3;
	transform:			translate(-50%,-50%);
}


#overlay_addRecordingInner label {
	height:				25px;
	width:				100%;
	margin-bottom:		8px;	
}


#overlay_addRecordingInner input {
	float:				right;
	height:				30px;
	width:				350px;
}

#overlay_addRecordingInner select {
	float:				right;
	height:				30px;
	width:				350px;
}

#addRecordingBottom {
	margin-top:			10px;
	width:				100%;
	text-align:			center;
}

#newRecordingAcceptButton {
	margin-right:		5px;
}

#overlay_detailsInner {
	position:			absolute;
	padding:			8px;
	top:				50%;
	left:				50%;
	width:				75%;
	height:				75%;
	min-height:			400px;
	color:				maroon;
	border:				3px solid maroon;
	background-color:	#f3f3f3;
	transform:			translate(-50%,-50%);
}

#overlay_icon {
	position:			absolute;
	top:				5px;
	right:				5px;
	border:				2px solid black;
	width:				100px;
	height:				100px;

}


#welcome_page {
	padding:			100px;
}

#welcome_page p {
	color:				white;
	font-size:			20px;
}

#welcome_page h1 {
	color:				red;
	font-size:			50px;
}

#welcome_page h2 {
	color:				red;
	font-size:			30px;
}

#epg_timebox {
	margin-top:			63px;
	background-color:	black;
	border-right:		3px solid blue;
	opacity:			0.5;
}

.dot {
	height:				7px;
	width:				7px;
	background-color:	#bbb;
	border-radius:		50%;
	margin:				10px;
	display:			inline-block;
	float:				left;
}

.blackdot {
	margin-top:			6px;
	background-color:	black;
}


.navLink {
	display:			inline-block;
}

.navHeader {
	font-size:			30px !important;
	margin-right:		1px !important;
	margin-top:			12px !important;
}

#toggleEpgBottom {
	height:				37px;
	width:				37px;
	padding:			0px;
	font-size:			24px
}

.recordButton {
	float:				right;
	margin:				10px 10px 0px 0px;
}

.recordButton:hover {
	background-color:	darkgrey;
	color:				black;
}

#recordButtonsDiv {
	float:				right;
	position:			absolute;
	width:				320px;
	right:				0px;
	top:				0px;
}

.sidebar-header {
	margin-bottom:		20px;
}

.sidenav {
	height:				100%;
	width:				300px;
	position:			fixed;
	z-index:			1;
	top:				0;
	background-color:	black;
	overflow-x:			hidden;
	transition:			.2s;
	left:				0px;
	padding-left:		0px;
	background-color:	indigo 
}

.sidenav_small {
	left:				-250px;  
}

.sidenav span {
	float:				right;
	margin-right:		6px;
	margin-top:			5px;
	font-size:			20px;
}

.sidenav a {
	font-size:			16px;
	padding:			0px 8px 6px 16px;
	text-decoration:	none;
	font-weight:		bold;
	display:			block;
	padding-bottom:		10px;
}

.sidenav a:hover {
	color:				#f1f1f1;
}

.main {
	background-color:	black;
	height:				100%;
	transition:			.2s;
	margin-left:		300px;
	width:				calc(100% - 300px);
}

.main_big {
	margin-left:		50px;
	width:				calc(100% - 50px);
}

.conf_main {
	color:				white;
}

.conf_main p {
	margin-left:		50px;
}

#infoBoxContainer {
	position:			fixed;
	height:				10px;
	top:				0;
	left:				1;
	right:				0;
	bottom:				0;
	margin:				20px;
}

.infoBox {
	text-align:			center;
	display:			block;
	height:				40px;
	color:				#f1f1f1;
	background-color:	green;
	margin-bottom:		10px;
	padding-top:		6px;
	padding-left:		30px;
	padding-right:		30px;
	z-index:			100;
	border-radius:		5px;
	opacity:			1;
	transition:			all	3s linear;
}

.infoBox.fadedOut {
	opacity:			0;
	height:				0px;
	margin-bottom:		0px;
	padding-top:		0px;
}

#menulogo {
	padding-top:		10px;
	padding-bottom:		10px;
	padding-left:		8px;
}

#logoimage {
	width:				400px;
	height:				auto;
	margin:				20px;
}

#about {
	color:				gray;
	text-align:			center;
	height:				100%;
	width:				100%;
}

#about p {
	font-size:			14px;
	margin:				10px;
}

#about h4 {
	margin-top:			0px;
	padding-top:		20px;
}

#dvrTable {
	width:				100%;
}

#dvrTable tr {
	border-top:			3px solid black;
}

#dvr_header {
	padding-left:		10px;
	padding-right:		10px;
	background-color:	#f3f3f3;
	width:				100%;
	height:				70px;
}

#dvr_header h1 {
	padding-top:		10px;
	padding-left:		10px;
}

#dvr_toolbar {
	width:				650px;
	margin-left:		50px;
	margin-bottom:		20px;
}


#dvr_footer {
	padding-left:		10px;
	padding-right:		10px;
	background-color:	#f3f3f3;
	width:				100%;
	height:				70px;
}

#dvr_main {
	padding-left:		10px;
	padding-right:		10px;
	width:				100%;
	min-height:			calc(100vh - 70px);
	background-color:	#f3f3f3;
}

.dvrLogo {
	height:				20px;
	width:				20px;
}

table.dvrTable {
	font-size:			13px;
	font-weight:		bold;
	width:				100%;
}

table.dvrTable a {
	color:				#337ab7;
	vertical-align:		top;
}

table.dvrTable tr {
	border-top:			1px solid #ddd;
}

table.dvrTable th {
	font-size:			20px;
	padding:			8px;
	padding-bottom:		10px;
	border-bottom:		3px solid #ddd;
}

table.dvrTable td {
	padding:			5px;
	border-top:			1px solid #ddd;
}

#dvrBottom {
	position:			absolute;
	left:				10px;
	bottom:				10px;
	color:				black;
}

#dvrBottom i {
	color:				maroon;
}


.searchBar {
	border-top:			1px solid #d2d1d1;
	padding-top: 		8px;
	padding-bottom:		8px;
	padding-left:		7px;
}

.searchInput {
	border:				none;
	width:				97%;
	background-color:	#f3f3f3;
}

#epg_main {
	background-color:	black;
	font-size:			20px;
	width:				100%;
	padding-left:		0px;
	overflow-x:			hidden;
	overflow-y:			scroll;
}

#epg_channels_header {
	padding-left:		0px;
	padding-top:		7px;
}

#epg_channels_main {
	border:				3px solid black;
}

.channelHeaderIcon {
	font-size:			30px !important;
	margin-left:		10px !important;
	margin-top:			9px !important;
	margin-bottom:		27px !important;
}

.channelHeaderIcon:hover {
	color:				white;
}

#epg_channels {
	padding-left:		7px;
	padding-top:		3px;
	margin-top:			0px;
	height:				100vh;
	float:				left;
	transition:			.2s;
	background-color:	maroon;
}

.epg_channels_big {
	width:				230px;
}

.epg_channels_small {
	width:				60px;
}

#epg_data {
	padding-left:		0px;
	display:			block;
	overflow-x:			scroll;
	overflow-y:			hidden;
	scroll-behavior:	smooth;
	scrollbar-width:	none;
	margin-bottom:		100px;
}

#epg_bottom {
	max-width:			1500px;
	min-width:			750px;
	height:				245px;
	color:				#f1f1f1;
	border:				3px solid #333333;
	transition:			.2s;
	margin-bottom:		30px;
	margin-right:		60px;
	margin-left:		20px;
	position:			absolute; 
	bottom:				0px;
	background-color:	black;
	overflow:			hidden;
}

#epg_bottom_image {
	max-width:			100%;
	margin:				19px;
	border:				3px solid #333333;
	transition:			.2s;
}

#epg_bottom_title {
	margin-bottom:		0px;
	text-overflow:		ellipsis;
	white-space:		nowrap;
	overflow:			hidden;
}

#epg_bottom_placeholder {
	width:				100%;
	float:				left;
}

#epg_bottom_time {
	margin:				0px;
	margin-top:			5px;
	float:				left;
}

#epg_bottom_genre {
	margin:				0px;
	margin-top:			5px;
}

#epg_bottom_description {
	height:				150px;
	width:				97%;
	margin-left:		10px;
}

#epg_summary {
	margin:				0px;
	margin-top:			5px;
	width:				1230px;
	height:				150px;
	line-height:		1.2;
	float:				left;
	overflow:			hidden;
}

.epg_row2 {
	width:				24000px;
	padding:			0px;
	display:			block;
	float:				left;
	clear:				left;
	background-color:	yellow;
}


.epg_row {
	width:				24000px;
	padding:			0px;
	display:			block;
	float:				left;
	clear:				left;
	background-color:	black;
}

.epg_hr_row {
	height:				2px;
	margin:				12px;
	margin-bottom:		8px;
	font-size:			0px;
	background-color:	#cccccc;
}

.epg_unit {
	height:				50px;
	margin:				0px;
	padding-left:		5px; 
	padding-right:		5px; 
	padding-top:		5px;
	display:			block;
	text-align:			center;
	overflow:			hidden;
	float:				left;
	color:				#f1f1f1;
}

.epg_unit img {
	float:				left;
	position:			relative;
	left:				-3px;
	top:				-14px;
}

.channel {
	width:				227px;
	height:				50px;
	border:				3px hidden;
	color:				#f1f1f1;
	border:				3px solid black;
}

.channel p {
	float:				left;
	margin-left:		7px;
}

.channelLogo {
	height:				36px;
	width:				36px;
	float:				left;
	margin:				4px;
}

.selectable {
	border:				3px solid black;
}

.selectable:hover {
	border:				3px solid #008ffa;
}

.selected {
	border:				3px solid red;
}

.selected:hover {
	border:				3px solid red;
}

.time {
	background-color:	black;
	width:				148px;
	text-align:			left;
	border-left:		1px solid white;
	border-right:		1px solid white;
}

