<div id="about">
	<h4>HTS Tvheadend</h4>
	<p>© 2006 - 2019 Andreas Öman, Jaroslav Kysela, Adam Sutton, et al.</p>
	<img id='logoimage' src='static/img/logobig.png' alt='Logo' />
	<p>
		<a href='https://tvheadend.org'>https://tvheadend.org</a>
	</p>
	<p>
		<a href='https://www.themoviedb.org'>TMDb</a>
			This product uses the TMDB API but is not endorsed or certified by
			<img src='static/img/tmdb.png'>
		</p>
	<p>
		TV information and images are provided by TheTVDB.com, <br />
		but we are not endorsed or certified by TheTVDB.com or its affiliates. 
		<a href='https://thetvdb.com'>TheTVDB.com</a>
		<img src='static/img/tvdb.png'>
	</p>
	<p>
		If you'd like to support the project, please consider a donation.<br />
		All proceeds are used to support server infrastructure and buy test equipment.
	</p>
	<p>
		<a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3Z87UEHP3WZK2'>
			<img src='https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif'>
		</a>
	</p>
	</div>
</div>
