<div class='subpage_main'>

	<h5 class="mb-0 config_header">User Interface:</h5>
	<div class="config_section">
		<label>Number of EPG-records to fetch for each channel:	<input max="99" style="width:60px" type="number" ng-change="noOfEpg_change()" name="NoOfEpgRecords" ng-model="noOfEpgRecordsToGet"></label>
		<label>Prefered Recording Profile:	<input max="99" style="width:360px" type="text" ng-change="noOfEpg_change()" name="NoOfEpgRecords" ng-model="dvrConfig"></label>
	</div>





















	<h5 class="mb-0 config_header">Category 2:</h5>
	<div class="config_section">
		<label>Item 1:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 2:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 3:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
	</div>


	<h5 class="mb-0 config_header">Category 3:</h5>
	<div class="config_section">
		<label>Item 1:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 2:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 3:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
	</div>


	<h5 class="mb-0 config_header">Category 4:</h5>
	<div class="config_section">
		<label>Item 1:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 2:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
		<label>Item 3:	<input max="99" style="width:60px" type="number" name="NoOfEpgRecords"></label>
	</div>



</div>
