<div id="dvr_content" ng-app="mainApp" ng-controller="dvrController as dvrCtrl">





	<div id="overlayAddRecording" class="overlay">
		<div id="overlay_addRecordingInner">
			<h2>Add New Recording</h2>
			<label>Titel: <input type="text" name="inputTitel" ></label>
			<label>Extra text: <input type="text" name="inputExtra"></label>
			<label>Channel: <select ng-model="selectChannel" ng-options="x for x in channels"></select></label>
			<form name="addRecordingStartForm" ng-controller="newRecordingController as dateCtrl">
				<label>Start:
					<input style="width: 175px" type="time" id="addRecordingStartTime" ng-model="addRecordingStartTime.value" placeholder="HH:mm" 
							min="{{addRecordingStartTime.value | date:'HH:mm'}}"  ng-model-options="{ updateOn: 'default', timeSecondsFormat: '' }" required />
					<input style="width: 170px; margin-right: 5px" type="date" id="addRecordingStartDate" ng-model="addRecordingStartDate.value" placeholder="yyyy-MM-dd" 
							min="{{addRecordingStartDate.value | date:'yyyy-MM-dd'}}" required />
					<div role="alert">
						<span class="error" ng-show="myForm.input.$error.required">Required!</span>
						<span class="error" ng-show="myForm.input.$error.time">Not a valid date!</span>
					</div>
				</label>
			</form>
			<form name="addRecordingStopForm" ng-controller="newRecordingController as dateCtrl">
				<label>Start:
					<input style="width: 175px" type="time" id="addRecordingStopTime" ng-model="addRecordingStopTime.value" placeholder="HH:mm" 
							min="{{addRecordingStartTime.value | date:'HH:mm'}}" ng-model-options="{ updateOn: 'default', timeSecondsFormat: '' }" required />
					<input style="width: 170px; margin-right: 5px" type="date" id="addRecordingStopDate" ng-model="addRecordingStopDate.value" placeholder="yyyy-MM-dd" 
							min="{{addRecordingStartDate.value | date:'yyyy-MM-dd'}}" required />
					<div role="alert">
						<span class="error" ng-show="myForm.input.$error.required">Required!</span>
						<span class="error" ng-show="myForm.input.$error.time">Not a valid date!</span>
					</div>
				</label>
			</form>
			<label>Comment: <input type="text" name="inputComment"></label>
			<label>Pre-padding: <select ng-model="selectChannel" ng-options="x for x in channels"></select></label>
			<label>Post-padding: <select ng-model="selectChannel" ng-options="x for x in channels"></select></label>
			<label>Priority: <select ng-model="selectChannel" ng-options="x for x in channels"></select></label>
			<label>DVR Configuration: <select ng-model="selectChannel" ng-options="x for x in channels"></select></label>
			<div id="addRecordingBottom">
				<button id="newRecordingAcceptButton" class="btn btn-outline-info" type="button" ng-click="newRecordingAccept()">Accept</button>
				<button id="newRecordingCancelButton" class="btn btn-outline-info" type="button" ng-click="newRecordingCancel()">Cancel</button>
			</div>
		</div>
	</div>







	<div id="overlayDetails" class="overlay" ng-click="hideDetails()">
		<div id="overlay_detailsInner">
			<img id="overlay_icon" src="{{ detailsData.icon }}" />
			<h3>{{ detailsData.title }}</h3>
			<h5><i>{{ detailsData.channelName }}</i></h5>
			<h6 style="float: left">{{ detailsData.start * 1000 | date:'HH:mm' }}</h6>
			<p class="dot blackdot"></p>
			<h6 style="float: left">{{ detailsData.stop * 1000 | date:'HH:mm' }}</h6>
			<p class="dot blackdot"></p>
			<h6>({{ detailsData.duration / 60 }} minutes)</h6>
			<hr />
			<p class="pl-3 pr-3" > {{ detailsData.description }}</p>
			<hr />



			<p>completed:   {{ selectedCat.completed   }}</p>
			<p>fileMissing: {{ selectedCat.fileMissing }}</p>
			<p>scheduled:   {{ selectedCat.scheduled   }}</p>
			<p>timeMissed:  {{ selectedCat.timeMissed  }}</p>
			<p>running:		{{ selectedCat.running     }}</p>



			<div id="dvrBottom">
				<h6>Status: <i>{{ detailsData.status }} </i></h6>
				<h6>Comment: <i>{{ detailsData.comment || "None" }} </i></h6>
				<h6>File Size: <i>{{ detailsData.fileSize }} GB</i></h6>
				<h6>File Name: <i>{{ detailsData.fileName }} </i></h6>
			</div>
		</div>
	</div>

	<div id="dvr_header">
		<h1>Recordings</h1>
	</div>

	<div id="dvr_main">

		<div id="dvr_toolbar">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-sm btn-danger" ng-click="editButton()"
						ng-disabled="selectedCat.scheduled + selectedCat.running + selectedCat.completed + selectedCat.timeMissed + selectedCat.fileMissing === 0">
					<i class="fas fa-edit mr-1" aria-hidden="true"></i>Edit
				</button>
				<button type="button" class="btn btn-sm btn-dark" ng-click="stopButton()"
						ng-disabled="selectedCat.scheduled === 0 && selectedCat.running === 0 || selectedCat.completed + selectedCat.timeMissed + selectedCat.fileMissing !== 0">
					<i class="fas fa-stop mr-1" aria-hidden="true"></i>Stop
				</button>
				<button type="button" class="btn btn-sm btn-dark" ng-click="moveDvrButton()"
						ng-disabled="selectedCat.completed == 0 && selectedCat.timeMissed == 0 || selectedCat.scheduled !== 0 || selectedCat.fileMissing !== 0">
					<i class="fas fa-arrow-right mr-1" aria-hidden="true"></i>Move
				</button>
				<button type="button" class="btn btn-sm btn-dark" ng-click="enableDisableButton()"
						ng-disabled="selectedCat.scheduled === 0 || selectedCat.completed + selectedCat.timeMissed + selectedCat.fileMissing !== 0">
					<i class="fas fa-ban mr-1" aria-hidden="true"></i>Enable/Disable
				</button>
				<button type="button" class="btn btn-sm btn-dark" ng-click="deleteButton()" 
						ng-disabled="selectedCat.completed === 0 && selectedCat.fileMissing === 0 && selectedCat.scheduled === 0 && selectedCat.timeMissed === 0">
					<i class="fas fa-trash-alt mr-1" aria-hidden="true"></i>Delete
				</button>
				<button type="button" class="btn btn-sm btn-dark" ng-click="downloadButton()" 
						ng-disabled="selectedCat.completed === 0 || selectedCat.fileMissing !== 0 || selectedCat.scheduled !== 0 || selectedCat.timeMissed !== 0">
					<i class="fas fa-download mr-1" aria-hidden="true"></i>Download
				</button>
			</div>
			<button type="button" class="btn btn-sm btn-dark" ng-click="addRecordingButton()">
				<i class="fas fa-plus mr-1" aria-hidden="true"></i>Add recording
			</button>
		</div>

		<div class="searchBar">
			<i class="fa fa-search searchIcon" aria-hidden="true"></i>
			<input type="text" class="searchInput ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse" ng-model="textFilter" ng-change="$ctrl.onTextFilterChange()" placeholder="Search..." auto-focus="" ng-model-options="{ debounce: 300 }">
		</div>

		<table class="dvrTable table-hover">
			<thead>
			  <tr class="dvrTable">
				<th style="width: 30px">
					<input type="checkbox" ng-model="selectAll" ng-click="checkAll()" />
				</th>
				<th>
					<a ng-click="changeSorting('disp_title')">
						Title
						<i class="fas fa-sort-alpha-up" ng-show="sort.column === 'disp_title' && sort.descending"></i>
						<i class="fas fa-sort-alpha-down" ng-show="sort.column === 'disp_title' && !sort.descending"></i>
					</a>
				</th>
				<th>
					<a ng-click="changeSorting('status')">
						Status
						<i class="fas fa-sort-alpha-up" ng-show="sort.column === 'status' && sort.descending"></i>
						<i class="fas fa-sort-alpha-down" ng-show="sort.column === 'status' && !sort.descending"></i>
					</a>
				</th>
				<th>
					<a ng-click="changeSorting('channelname')">
						Channel
						<i class="fas fa-sort-alpha-up" ng-show="sort.column === 'channelname' && sort.descending"></i>
						<i class="fas fa-sort-alpha-down" ng-show="sort.column === 'channelname' && !sort.descending"></i>
					</a>
				</th>
				<th>
					<a ng-click="changeSorting('start')">
						Time
						<i class="fas fa-sort-numeric-up" ng-show="sort.column === 'start' && sort.descending"></i>
						<i class="fas fa-sort-numeric-down" ng-show="sort.column === 'start' && !sort.descending"></i>
					</a>
				</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="x in dvrData | orderBy:sort.column:sort.descending | filter : textFilter">
				<td style="padding-top: 10px;">
					<input class="dvrCheckbox" type="checkbox" ng-model="x.checked" ng-change="addSelectedItem(x)" >
				</td>
				<td ng-class="{redText: !x.enabled}" ng-click="showDetails(x)">{{ x.disp_title }}  {{ x.enabled ?  "" : " [DISABLED]" }}</td>
				<td ng-class="{	'badge-primary'		:	x.status == 'Scheduled for recording' , 
								'badge-success'		:	x.status == 'Completed OK' || x.status == 'Forced OK', 
								'badge-danger'		:	x.status == 'File missing', 
								'badge-warning'		:	x.status == 'Time missed' || x.status == 'User request',
								'badge-dark'		:	x.status == 'Running',
								'badge-info'		:	x.status == 'Aborted by user'
							}" class="badge" >{{ x.status }}
				</td>
				<td>
					<span>
						<img class="dvrLogo" src="{{ x.channel_icon }}">
						<b id="{{ x.uuid }}">{{ x.channelname }}</b>
					</span>
				</td>
				<td>{{ x.start * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
			  </tr>
			</tbody>
		</table>
	</div>

	<div id="dvr_footer">
	</div>

</div> 
	